{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="vertical-container">
            {% include 'teacher/breadcrumbs.html' %}
        </div>
        <div class="competitor-list">
            {% for teacher in teachers %}
                <div class="box box-{{ forloop.counter }}" data-text="{{ teacher.first_name }}">
                    <a href="{% url 'teacher:teacher_detail' teacher_slug=teacher.slug %}">
                        {% if teacher.avatar %}
                            <img class="box-image" src="{{ teacher.avatar.url }}" alt="{{ teacher.first_name }}">
                            <div class="overlay">
                                <div class="box-text">
                                    <p>{{ teacher.first_name }} {{ teacher.last_name }}</p>
                                    <p><i class="fas fa-chalkboard-teacher icon"></i> Profesor</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="placeholder-image box-image"></div>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% include 'paginator.html' with page=teachers %}
        </div>
    </div>
{% endblock %}
