{% extends "base.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
    <h1>List of Competitors</h1>
    <div class="competitor-list">
        {% for competitor in all_competitors %}
            <div class="competitor-card">
                {% if competitor.avatar %}
                    <div class="competitor-card__image" style="background-image: url('{{ competitor.avatar.url }}');"></div>
                {% else %}
                    <div class="competitor-card__image placeholder-image"></div>
                {% endif %}
                <div class="competitor-card__details">
                    <div class="competitor-card__unit-name">
                        {{ competitor.first_name }}
                    </div>
                    <div class="competitor-card__unit-description">
                        City: {{ competitor.city }}
                    </div>
                    <div class="competitor-card__unit-description">
                        Music Styles: {% for style in competitor.music_styles.all %}{{ style.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
