{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="vertical-container">
            {% include "competitor/breadcrumbs.html" %}
            {% include "competitor/search.html" %}
        </div>

        <div class="competitor-list">
            {% for competitor in competitors %}
                <div class="box box-{{ forloop.counter }}" data-text="{{ competitor.first_name }}">
                    <a href="{{ competitor.get_absolute_url }}">
                        {% if competitor.avatar %}
                            <img class="box-image" src="{{ competitor.avatar.url }}" alt="{{ competitor.first_name }}">
                            <div class="overlay">
                                <div class="box-text">
                                    <p>{{ competitor.first_name }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="placeholder-image box-image"></div>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% include 'paginator.html' with page=competitors %}
        </div>
    </div>
{% endblock %}
