{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Página de inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    <link rel="stylesheet" href="static/css/base.css" />
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="row">
          <h1 class="mb-4">Operación triunfo 2023</h1>
          <a href="{% url ''%}"></a>
          <div class="col-sm" style="padding-top: 5%;">
          <div class="card" style="max-width: 18rem;">
            <img src="{{ competitor_image }}" class="card-img-top img-fluid" alt="Competitor" />
            <div class="card-body">
              <h5 class="card-title">Competidores</h5>
            </div>
          </div>
          </div>
          <div class="col-sm" style="padding-top: 5%;">
            <div class="card" style="max-width: 18rem;">
              <img src="{{ judges_image }}" class="card-img-top img-fluid" alt="Judge" />
              <div class="card-body">
                <h5 class="card-title">Jueces</h5>
              </div>
            </div>
          </div>
          <div class="col-sm" style="padding-top: 5%;">
          <div class="card" style="max-width: 18rem;">
            <img src="{{ teachers_image }}" class="card-img-top img-fluid" alt="Teacher" />
            <div class="card-body">
              <h5 class="card-title">Profesores</h5>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
