{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="vertical-container">
            {% include "judge/breadcrumbs.html" %}
        </div>

        <div class="competitor-list">
            {% for judge in judges %}
                <div class="box box-{{ forloop.counter }}" data-text="{{ judge.first_name }}">
                    <a href="{{ judge.get_absolute_url }}">
                        {% if judge.avatar %}
                            <img class="box-image" src="{{ judge.avatar.url }}" alt="{{ judge.first_name }}">
                            <div class="overlay">
                                <div class="box-text">
                                    <p>{{ judge.first_name }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="placeholder-image box-image"></div>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% include 'paginator.html' with page=judges %}
        </div>
    </div>
{% endblock %}
